<article class="employee">
  <div>
    <ol>
      Employee ID: {{id}} <br>
      Job Title: {{role.title}} <br>
      Last Name: {{last_name}} <br>
      First Name: {{first_name}} <br>
      email: {{email}} <br>
      Salary: {{role.salary}} <br>
      Manager: {{manager_id}}
    </ol>
  </div>
</article>